<!DOCTYPE html>
<html lang="es">
    {% load staticfiles %}
    {% load widget_tweaks %}
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="keywords" content="">
        <title>Sombras Army</title>

	    <!--Bootstrap Local-->
	    <!--CSS -->
	    <link rel="stylesheet" href="{{STATIC_URL}}bootstrap/css/bootstrap.min.css">

	    <link rel="stylesheet" href="{{STATIC_URL}}files/css/main/pre-home.css">

	    <link rel="stylesheet" href="{{STATIC_URL}}files/css/main/base.css">

	    <!-- Optional theme -->
	    <link rel="stylesheet" href="{{STATIC_URL}}bootstrap/css/bootstrap-theme.min.css">

	    <!-- jQuery -->
	    <script src="http://code.jquery.com/jquery.js"></script>

	    <!-- Bootstrap JavaScript -->
	    <script src="{{STATIC_URL}}bootstrap/js/bootstrap.min.js"></script>
    </head>
    <body>
        <!-- Sección interna de la página -->
        <div class="container-fluid">
        	<div class="row-fluid">
        		<div class="col-lg-6 col-md-8 col-sm-12 centering">
        			<img class="img-responsive" src="{{STATIC_URL}}files/img/coming_soon.jpg" alt="">
	        	</div>
        	</div>
        </div>
    </body>
</html>